<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.AdminMapper">

    <select id="getAdminInfo" parameterType="com.tencent.wxcloudrun.dto.LoginDTO" resultType="com.tencent.wxcloudrun.model.Admin">
        SELECT * FROM Admin WHERE username=#{loginDTO.user} AND password=#{loginDTO.password}
    </select>

    <select id="getAllAdmin" resultType="com.tencent.wxcloudrun.model.Admin">
        SELECT * FROM Admin WHERE username!='admin'
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(storeName)">
            AND storeName like CONCAT("%",#{storeName}, "%")
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(city)">
            AND city like CONCAT("%",#{city}, "%")
        </if>
        ORDER BY validNum ASC
    </select>

    <insert id="insertAdmin" parameterType="com.tencent.wxcloudrun.model.Admin">
        INSERT INTO Admin(username,password,type,storeName,city,validNum)
        values(#{admin.username},#{admin.password},#{admin.type},#{admin.storeName},#{admin.city},#{admin.validNum})
    </insert>

    <update id="updateAdmin" parameterType="com.tencent.wxcloudrun.model.Admin">
        UPDATE Admin SET username=#{admin.username},password=#{admin.password},type=#{admin.type},
                         storeName=#{admin.storeName},city=#{admin.city},validNum=#{admin.validNum}
        WHERE ID=#{admin.id}
    </update>

    <delete id="deleteAdmin">
        DELETE FROM Admin WHERE ID=#{id}
    </delete>

    <select id="validNewItem" parameterType="java.lang.String" resultType="com.tencent.wxcloudrun.model.Admin">
        SELECT username,validNum FROM Admin WHERE validNum=#{validNum} OR username=#{username}
    </select>

    <select id="validOldItem" resultType="com.tencent.wxcloudrun.model.Admin">
        SELECT username,validNum FROM Admin WHERE (validNum=#{newNum} AND validNum!=#{oldNum})
                                      OR (username=#{newUsername} AND username!=#{oldUsername})
    </select>

    <select id="getAdminInfoById" resultType="com.tencent.wxcloudrun.model.Admin">
        SELECT * FROM Admin WHERE id=#{id}
    </select>
</mapper>