<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.AdminMapper">

    <select id="" parameterType="com.tencent.wxcloudrun.dto.LoginDTO" resultType="com.tencent.wxcloudrun.model.Admin">
        SELECT TYPE FROM ADMIN WHERE username=#{loginDTO.user} AND password=#{loginDTO.password}
    </select>

</mapper>